body{
    text-align: center;
}
li{
    display:inline;
    margin-right: 50px;
}
header{
    background-color: rgb(195, 178, 238);
    padding: 20px;
}
h2{
    color:black;
}
font{
    color: darkblue;
}
img{
    border-radius: 50%;
}
a{
    text-decoration: none;
}
.one{
    background-color: rgb(245, 189, 169);
}
.two{
    background-color: cadetblue;
}

